<?xml version="1.0"?>
<!--
/**
 * Copyright © Exocortex, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config>
    <modules>
        <Exocortex_Threekit>
            <version>0.1</version>
        </Exocortex_Threekit>
    </modules>
    <global>
        <models>
            <exocortex_threekit>
                <class>Exocortex_Threekit_Model</class>
            </exocortex_threekit>
        </models>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <exocortex_threekit>
                        <type>singleton</type>
                        <class>exocortex_threekit/observer</class>
                        <method>addAdditionalOptionsToQuote</method>
                    </exocortex_threekit>
                </observers>
            </checkout_cart_product_add_after>
            <sales_model_service_quote_submit_before>
                <observers>
                    <exocortex_threekit>
                        <type>singleton</type>
                        <class>exocortex_threekit/observer</class>
                        <method>addAdditionalOptionsToSale</method>
                    </exocortex_threekit>
                </observers>
            </sales_model_service_quote_submit_before>
            <controller_action_layout_load_before>
                <observers>
                    <exocortex_threekit>
                        <type>singleton</type>
                        <class>exocortex_threekit/observer</class>
                        <method>replaceBundleLayout</method>
                    </exocortex_threekit>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </global>
</config>
