<?xml version="1.0"?>
<!--
/**
 * Copyright © Exocortex, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config>
    <modules>
        <Exocortex_Threekit>
            <version>0.1</version>
        </Exocortex_Threekit>
    </modules>
    <global>
        <models>
            <exocortex_threekit>
                <class>Exocortex_Threekit_Model</class>
            </exocortex_threekit>
        </models>
        <blocks>
            <bundlethreekit>
                <class>Exocortex_Threekit_Block</class>
            </bundlethreekit>
        </blocks>
        <events>
            <catalog_product_load_after>
                <observers>
                    <exocortex_threekit>
                        <type>singleton</type>
                        <class>exocortex_threekit/observer</class>
                        <method>addAdditionalOptionsToQuote</method>
                    </exocortex_threekit>
                </observers>
            </catalog_product_load_after>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <exocortex_threekit>
                        <type>singleton</type>
                        <class>exocortex_threekit/observer</class>
                        <method>addAdditionalOptionsToSale</method>
                    </exocortex_threekit>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <controller_action_layout_load_before>
                <observers>
                    <exocortex_threekit>
                        <type>singleton</type>
                        <class>exocortex_threekit/observer</class>
                        <method>replaceBundleLayout</method>
                    </exocortex_threekit>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <threekit>
                    <file>bundle_threekit.xml</file>
                </threekit>
            </updates>
        </layout>
    </frontend>
</config>
